<h1>Gamemaster Page for <%= @gamemaster.name %></h1>

<h3>Notes sent by me</h3>
<ul>
<% @gamemaster.notes.each do |note| %>
    <li><%= note.title %> <%= link_to "View", gamemaster_note_path(@gamemaster, note), method: :get %>
    <%= link_to "Edit", edit_gamemaster_note_path(@gamemaster, note), method: :get %>
    <%= link_to "Delete", gamemaster_note_path(@gamemaster, note), method: :delete %></li>
<% end %>
</ul>

<%= link_to "Send new note", new_gamemaster_note_path(@gamemaster), method: :get %>

<h5><%= @gamemaster.user.username %> controls this page. </h5>

