<h1>New Note</h1>


<%= form_with model: @note do |f| %>
    <%= f.label :gamemaster_id, "Who is sending the message" %>
    <%= f.collection_select(:gamemaster_id, current_user.gamemasters, :id, :name, prompt: true) %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.label :player_id, "Who is receiving the message" %>
    <%= f.collection_select(:player_id, Player.all, :id, :name, prompt: true) %>
    <br>
    <%= f.submit "Send Note" %>
<% end %>