<h1>New Note</h1>

<%= render partial: "layouts/errors", locals: {object: @note} %>


<%= form_with model:  [@gamemaster, @note], local:true do |f| %>
    <% if !@gamemaster %> 
        <%= f.label :gamemaster_id, "Who is sending the message" %>
        <%= f.collection_select(:gamemaster_id, current_user.gamemasters, :id, :name, prompt: true) %> 
    <% end %>
    <br>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <%= f.label :player_id, "Who is receiving the message" %>
    <%= f.collection_select(:player_id, Player.order_by_name, :id, :name, prompt: true) %>
    <br>
    <%= f.submit "Send Note" %>
<% end %>