<h1><%= @user.username %>'s Page</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<h3>View gamemaster or player page to see notes.</h3>

<h4>Gamemasters that are me:<h4>
    <ul>
        <%@user.gamemasters.each do |g|%>
            <li><%= g.name %> <%= link_to "View", gamemaster_path(g), method: :get %>
            <%= link_to "Edit", edit_gamemaster_path(g), method: :get %></li>
        <% end %>
    </ul>

<h4>Players that are me:<h4>
    <ul>
        <%@user.players.each do |p|%>
            <li><%= p.name %> <%= link_to "View", player_path(p), method: :get %>
            <%= link_to "Edit", edit_player_path(p), method: :get %></li>
        <% end %>
    </ul>
<br>
<nav>
<%= link_to "Create a Gamemaster", new_gamemaster_path, method: :get %>
<%= link_to "Create a Player", new_player_path, method: :get %>
</nav>

<br>

<%= link_to "Send new note", new_note_path, method: :get %>
